:root {
    --blue: #AEC6C1;
    --black: #3C3C3C;
    --white: #FFFFFF;
    --tan: #DCDAC7;
    --dark-tan: #C8C6B5;
    --red: #D0725D;
}
html {
    background-color: var(--blue); /* sets scrollbar color in firefox */
    margin: 0;
    padding: 0;
    font-size: calc(16px + 0.5vw);
    font-family: 'Nunito', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.app-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: var(--tan);
    color: var(--black);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
.app-wrapper.dark {
    background-color: var(--black);
    color: var(--white);
}
label {
    margin-right: 0;
    margin-left: auto;
}
input {
    padding: 15px 15px 15px 15px;
}
.app-wrapper.dark input[class="text"] {
    background-color: var(--dark-tan);
    color: var(--black);
}
input[class="text"] {
    background-color: var(--tan);
    color: var(--black);
    border-radius: 10px;
}
input[class="button"] {
    background-color: var(--blue);
    color: var(--black);
    border-radius: 999px;
}
header {
    grid-area: header;
    background-color: rgba(255, 255, 255, 0.2);
}
.app-wrapper.dark header {
    background-color: rgba(0, 0, 0, 0.2);
}
main {
    grid-area: main;
}
.app-wrapper.dark footer {
    background-color: rgba(0, 0, 0, 0.2);
}
footer {
    grid-area: footer;
    background-color: rgba(255, 255, 255, 0.2);
}
p {
    font-family: 'Nunito', sans-serif;
    line-height: 1.4;
}
h1 {
    text-align: center;
}
p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}