{layout 'html.latte'}

{block header}{/block}

{block main}
    <div n:if="$form" class="form-wrapper">
        {$form??->render()}
    </div>
    <ul n:if="!empty($chat_messages)">
    {foreach $chat_messages as $item => $item}
        <li>
            <h6>{$item->username}</h6>
            <p>{$item->message}</p>
        </li>
    {/foreach}
    </ul>
{/block}

{block footer}{/block}