{layout 'html.latte'}

{block header}
    <div></div>
    <div class="vertical-center">
        <h1>Chat</h1>
    </div>
    <div></div>
{/block}

{block main}
    <iframe id="chat-view" src="{$siteroot}/chat-view.php" title="Chat View" allowtransparency="true"></iframe>
{/block}

{block footer}
    <iframe id="send-view" src="{$siteroot}/send-view.php" title="Send Message View" allowtransparency="true"></iframe>
{/block}