{layout 'html.latte'}

{block header}
    <h1>Chat</h1>
{/block}

{block main}
    <iframe src="{$siteroot}/chat-view.php" title="Chat View" allowtransparency="true"></iframe>
{/block}

{block footer}
    <iframe src="{$siteroot}/send-view.php" title="Send Message View" allowtransparency="true"></iframe>
{/block}