{layout 'html-chat-view.latte'}

{block main}
    <ul n:if="!empty($chat_messages)" tabindex="0">
    {foreach $chat_messages as $item}
        <li>
            <p><b>{$item['username']}</b></p>
            <p>{$item['message']}</p>
        </li>
    {/foreach}
    </ul>
{/block}