<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Squad On Site</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{$siteroot}/main.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Rokkitt:wght@700&display=swap');
        </style>
    </head>
    <body>
        <div class="app-wrapper dark">
            <div class="main" title="Send Message View">
                {include main}
            </div>
        </div>
    </body>
</html>