<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Squad On Site</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{$siteroot}/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="{$siteroot}/main.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
        </style>
        <script type="text/javascript" charset="utf-8">
    function waitForMsg(){
        $.ajax({
            type: "GET",
            url: {$siteroot} + "/msg_poll.php",

            async: true,
            cache: false,
            timeout:2000,

            success: function(data){
                window.location = window.location.href;
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
                setTimeout(
                    waitForMsg,
                    2000);
            }
        });
    };

    $(document).ready(function(){
        setTimeout(
            function () {
                waitForMsg();
            }
            , 500
        )
    });
    </script>
    </head>
    <body>
        <div class="app-wrapper dark">
            <div class="main" title="Chat View">
                {include main}
            </div>
        </div>
    </body>
</html>