{layout 'html.latte'}

{block header}
    <div></div>
    <div class="vertical-center">
        <h1>Log In</h1>
    </div>
    <div></div>
{/block}

{block main}
    <div class="form-wrapper">
        <p class="form-msg">{$form_msg}</p>
        {$form->render()}
        <p class="debug-msg">{$form_result}</p>
    <div>
{/block}

{block footer}
    <p style="text-align:center;">Not registered? <a href="{$siteroot}/signup-screen.php">Sign Up</a>.</p>
{/block}