{layout 'html.latte'}

{block header}
    <a href="{$siteroot}/support-screen.php" title="Back" aria-label="Back">
        <i class="fas fa-chevron-left"></i>
    </a>
    <div class="vertical-center">
        <h1>Not Available</h1>
    </div>
    <div></div>
{/block}

{block main}
    <div class="screen-wrapper">
        <p class="centered-textblock">The Report User feature is not yet implemented.</p>
    </div>
{/block}

{block footer}
    {include 'tabbar.latte'}
{/block}