{layout 'html.latte'}

{block header}
    <h1>Sign Up</h1>
{/block}

{block main}
    <div class="form-wrapper">
        <p class="form-msg">{$form_msg}</p>
        {$form->render()}
        <p class="debug-msg">{$form_result}</p>
    <div>
{/block}

{block footer}
    <p style="text-align:center;">(App navigation tabs will go here, probably.)</p>
{/block}