{layout 'html.latte'}

{block header}
    <h1>Sign Up</h1>
{/block}

{block main}
    {$form_msg}
    {$form->render()}
    {$form_result}
{/block}

{block footer}
    <p style="text-align:center;">(App navigation tabs will go here, probably.)</p>
{/block}